In [1]:
import pandas as pd
import xlsxwriter

vector_ee=[0.038,0.2,0.504]
vector_ng=[0.223,0.55,1.29]
# Carica il file Excel
for ee in range(3):
    for gas in range(3):
        for city in ['Siracusa','Roma','Milano']:
            file_path = f'{city}/input_data/input_data_base.xlsx'
            xls = pd.ExcelFile(file_path)

            new_df = pd.read_excel(file_path, sheet_name='cost_op')

            new_df.loc[new_df['a_names'] == 'National Grid import', 'values'] = vector_ee[ee]
            new_df.loc[new_df['a_names'] == 'Natural Gas supply grid', 'values'] = vector_ng[gas]

            # Salva il file Excel aggiornato
            output_file_path = f'{city}/input_data/input_data_E{ee+1}G{gas+1}.xlsx'
            with pd.ExcelWriter(output_file_path, engine='xlsxwriter') as writer:
                for sheet_name in xls.sheet_names:
                    if sheet_name == 'cost_op':
                        new_df.to_excel(writer, sheet_name=sheet_name, index=False)
                    else:
                        pd.read_excel(file_path, sheet_name=sheet_name).to_excel(writer, sheet_name=sheet_name, index=False)

            print(f"Il file aggiornato è stato salvato come {output_file_path}")

Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E1G1.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E1G1.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E1G1.xlsx
Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E1G2.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E1G2.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E1G2.xlsx
Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E1G3.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E1G3.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E1G3.xlsx
Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E2G1.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E2G1.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E2G1.xlsx
Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E2G2.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E2G2.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E2G2.xlsx
Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E2G3.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E2G3.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E2G3.xlsx
Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E3G1.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E3G1.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E3G1.xlsx
Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E3G2.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E3G2.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E3G2.xlsx
Il file aggiornato è stato salvato come Siracusa/input_data/input_data_E3G3.xlsx
Il file aggiornato è stato salvato come Roma/input_data/input_data_E3G3.xlsx
Il file aggiornato è stato salvato come Milano/input_data/input_data_E3G3.xlsx

In [10]:
#Change: incentive prices
import pandas as pd
from openpyxl import load_workbook
import xlsxwriter

sheet_name = 'cost_inv'
# Carica il file Excel
for ee in range(3):
    for gas in range(3):
        if ee!=1 and gas!=1:
            for city in ['Siracusa','Roma','Milano']:
                file_path = f'{city}/input_data_incentive/input_data_E{ee+1}G{gas+1}.xlsx'

                # Carica il workbook esistente
                workbook = load_workbook(filename=file_path)
                new_df = pd.read_excel(file_path, sheet_name='cost_inv')

                for tech in ['PV sys','Storage EE','Gas Boiler','HP','AC','Radiators','Floor heating','Induction stove']:
                    new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

                # Salva il file Excel aggiornato
                with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
                    new_df.to_excel(writer, sheet_name=sheet_name, index=False)
                print(f"Il file E{ee+1}G{gas+1} è aggiornato")

Il file E1G1 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E1G1 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E1G1 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E1G3 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E1G3 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E1G3 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E3G1 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E3G1 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E3G1 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E3G3 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E3G3 è aggiornato

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/2187560267.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

Il file E3G3 è aggiornato

In [5]:
file_path = 'Siracusa/input_data_incentive/input_data_E1G1.xlsx'
xls = pd.ExcelFile(file_path)
new_df = pd.read_excel(file_path, sheet_name='cost_inv')

In [9]:
from openpyxl import load_workbook

# Specifica il percorso del file Excel
file_path = 'Siracusa/input_data_incentive/input_data_E1G1.xlsx'

# Carica il workbook esistente
workbook = load_workbook(filename=file_path)
sheet_name = 'cost_inv'

new_df = pd.read_excel(file_path, sheet_name=sheet_name)

for tech in ['PV sys','Storage EE','Gas Boiler','HP','AC','Radiators','Floor heating','Induction stove']:
    new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    new_df.to_excel(writer, sheet_name=sheet_name, index=False)

/var/folders/7_/h7wd3zm54kg_zntp92069r1h0000gn/T/ipykernel_11642/436769577.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[1028.192 1028.192 1028.192 1028.192]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.loc[new_df['t_names'] == tech, 'values'] = new_df.loc[new_df['t_names'] == tech, 'values'] * (1-0.4158)

In [7]:
print(sheet)

<Worksheet "cost_inv">